.button {
    cursor: pointer;
    border: 1px solid #02939C;
    border-radius: .5rem;
    box-sizing: border-box;
    box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: .2);
    background-color: var(--green);
    color: var(--white);
    font-size: 1.4rem;
    padding: .7rem 1rem;
}